body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: #070707;
    color: #fff;
    line-height: 1.6;
    background-image: 
        linear-gradient(to right, rgba(248, 246, 246, 0.2) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(242, 239, 239, 0.2) 1px, transparent 1px);
    background-size: 100px 100px;
}

.fixed {
    color: #151414;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
    background-color: rgba(138, 189, 212, 0.6);
    padding: 10px;
    position: fixed;             
    top: 0;                      
    left: 0;  
    width: 100%; 
    z-index: 1000; 
    border-bottom: 2px solid #fbfbfa;
    font-weight: 700;
}


.Header {
    position: relative;
    top: 3.6rem;
    height: 40rem;
    width: 88%;
    margin: auto;
    background-color: black;
    color: yellow;
    text-shadow: 5px 5px 8px rgba(255, 255, 255, 0.5);
    outline: 2px solid #ffffff;
    border-bottom: 1px solid #2c3e50;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 5);
    padding: 0 2rem;
    z-index: 100;
    transition: transform 0.6s ease;
}

.Header:hover {
    background-color: black;
    transform: translateY(-30px);
    cursor: pointer;
}

.main-content {
    padding: 2rem;
    background: rgba(255, 255, 255, 0.05);
    margin: 2rem auto;
    max-width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

h1, h3 {
    text-align: center;
    color: #ffcc00;
}

ul {
    margin: 1rem;
    padding-left: 1.5rem;
}

li {
    margin: 0.5rem 0;
}
.ethical {
    color: #e74c3c;
    font-weight: bold;
}
a{
    color:black;
}
a:hover{
    color:white;
}
a:visited{
    color:White;
}
